<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
		 xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<servlet-name>KTV Servlet</servlet-name>
		<servlet-class>ru.darvell.ktv.web.KTVServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>KTV Servlet</servlet-name>
		<url-pattern>/ktv</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Abonents</servlet-name>
		<servlet-class>ru.darvell.ktv.web.Abonents</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Abonents</servlet-name>
		<url-pattern>/ktv/abonents</url-pattern>
	</servlet-mapping>


</web-app>